$directions: (
  right: left,
  left: right,
  top: bottom,
  bottom: top,
);

$align-position: (
  center: 50%,
  start: initial,
  end: 100%,
);

@mixin indicator-icon(
  $direction,
  $color,
  $width,
  $align: center,
  $margin-left: auto,
  $margin-right: auto
) {
  @if map-has-key($directions, $direction) {
    &##{$direction} {
      #{map-get($directions, #{$direction})}: 0px;
      &::after {
        content: '';
        position: absolute;
        border-width: $width;
        margin-left: $margin-left;
        margin-right: $margin-right;
        border-color: transparent;
        top: 50%;
        transform: translateY(-50%);
        #{$direction}: #{map-get($align-position, #{$align})};
        border-style: solid;
        border-#{$direction}-color: $color;
      }
    }
  } @else {
    @warn "Unfortunately, no value could be retrieved from `#{$direction}`. "
    + "Available directions are: #{map-keys($directions)}.";
  }
}
