<footer class="footer">
  <div class="footer__content">
    <div class="footer__social-links">
      <a class="footer__social-link footer__social-link--facebook" href=""> </a>
      <a class="footer__social-link footer__social-link--instagram" href="">
      </a>
      <a class="footer__social-link footer__social-link--twitter" href=""> </a>
      <a class="footer__social-link footer__social-link--youtube" href=""> </a>
    </div>

    <div class="footer__row">
      <ul class="footer__column">
        <li><a class="footer__link" href="">Idioma e legendas</a></li>
        <li><a class="footer__link" href="">Imprensa</a></li>
        <li><a class="footer__link" href="">Privacidade</a></li>
        <li><a class="footer__link" href="">Entre em contato</a></li>
      </ul>

      <ul class="footer__column">
        <li><a class="footer__link" href="">Audiodescrição</a></li>
        <li>
          <a class="footer__link" href="">Relações com investidores</a>
        </li>
        <li><a class="footer__link" href="">Avisos legais</a></li>
      </ul>

      <ul class="footer__column">
        <li><a class="footer__link" href="">Idioma e legendas</a></li>
        <li><a class="footer__link" href="">Imprensa</a></li>
        <li><a class="footer__link" href="">Privacidade</a></li>
        <li><a class="footer__link" href="">Entre em contato</a></li>
      </ul>

      <ul class="footer__column">
        <li><a class="footer__link" href="">Idioma e legendas</a></li>
        <li><a class="footer__link" href="">Imprensa</a></li>
        <li><a class="footer__link" href="">Privacidade</a></li>
        <li><a class="footer__link" href="">Entre em contato</a></li>
      </ul>
    </div>

    <div class="footer__info-box">
      <a class="footer__link" href="">Código do serviço</a>
    </div>

    <div class="footer__copyright">
      <span>© 1997-2020 Netflix, Inc.</span>
      <span>{i-01a71b64b2f326276}</span>
    </div>
  </div>
</footer>
